{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <div class="main-content form-wrapper">
        <h1>Frequently Asked Questions</h1>

        <ul id="faq-list"></ul>

        <h2>Ask a Question</h2>
        <form id="faq-form">
            {% csrf_token %}
            <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
            <input type="hidden" id="faq-id">

            <label for="question">Question:</label>
            <input type="text" id="question" required>
            {% if user.is_staff or user.is_superuser %}
                <label for="answer">Answer:</label>
                <textarea id="answer"></textarea>

            {% endif %}

            <button type="submit">Submit</button>
        </form>
    </div>
     <script>const USER_IS_SUPERUSER = {{ user.is_superuser|yesno:"true,false" }} </script>
    <script src="{% static 'js/faq_manager.js' %}"></script>
{% endblock %}