<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiTrack</title>
    <link rel="stylesheet" href="/resources/styles/main.css" />
</head>
<body>
    <div class="image-box__overlay"></div>
    <header class="header">
        <div class="header-content">
            <div class="logo-wrapper">
                <a href="{% url 'home' %}" title="FiTrack Logo" class="logo">
                    <img src="/resources/images/logo.png" alt="FiTrack Logo"></a>
            </div>
                {% if request.user.is_authenticated %}
                {% include 'common/nav.html' %}
                {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock %}
    
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>