<div class="nav-wrapper">
    <ul class="nav">
        {% if request.user.is_authenticated %}
            <li class="home"><a href="{% url 'home' %}" title="Home" class="selected current">Home</a></li>
            <li class="statistics"><a href="{% url 'dashboard' %}" title="Dashboard"
                                      class="selected current">Dashboard</a></li>
            <li class="profile"><a href="{% url 'profile-details' user.pk %}" title="Profile" class="selected current">My
                Profile </a></li>
            <li class="logout">
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button class="button-link" type="submit"><i>Logout</i></button>
                </form>
            </li>
        {% else %}
            <li class="signin"><a href="{% url 'login' %}" title="Sign In" class="selected current">Sign In</a></li>
        {% endif %}
    </ul>
</div>