{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content form-details">
        <h1>{{ goal.name }}</h1>
        <p><strong>Description:</strong> {{ goal.description }}</p>
        <p><strong>Target Date:</strong> {{ goal.target_date }}</p>
        <p><strong>Progress:</strong> {{ goal.progress }} calories burned</p>
        <p><strong>Associated Workouts:</strong>{% if not workouts %} Not Available{% endif %}</p>
        {% if workouts %}
            <ul>
                {% for workout in workouts %}
                    <li>{{ workout.name }} - {{ workout.date }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{% url 'goal-list' %}" class="btn-link">Back</a>
    </div>
{% endblock %}