{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content">
        <h1>Your Goals</h1>
        <ul class="goals-list">
            {% for goal in object_list %}
                <li>
                    <a href="{% url 'goal-detail' goal.id %}">{{ goal.name }}</a>
                    - Target: {{ goal.target_date }}
                </li>
            {% empty %}
                <p>You have no goals. <a href="{% url 'goal-create' %}">Create a goal</a> to get started.</p>
            {% endfor %}
        </ul>
    </div>

{% endblock %}