{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content form-wrapper">
      <h1>{% if user.is_authenticated  %}Update{% else %}Create{% endif %} account</h1>

      <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
       <button type="submit" class="btn">Save</button>

      {% if user.is_authenticated %}
        <p class="update-msg">Don't want to update your account? <a href="{% url 'profile-details' user.pk %}">Go back to your profile</a></p>
      {% endif %}

      </form>
     </div>
    
{% endblock %}