{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content form-details">
      <h2>Your Profile</h2>

      <hr>
      {% if request.user.profile.profile_picture %}
        <p><strong>Profile Picture:</strong></p>
        <img src="{{ request.user.profile.profile_picture.url }}" alt="Profile Picture" width="150">
      {% else %}
        <p>No profile picture set.</p>
      {% endif %}

      <p><strong>Full Name:</strong> {{ request.user.profile }} </p>
      <p><strong>Gender:</strong> {{ request.user.profile.gender }}</p>
      <p><strong>Age:</strong> {{ request.user.profile.age }}</p>
      <p><strong>Height:</strong> {{ request.user.profile.height }} cm</p>
      <p><strong>Weight:</strong> {{ request.user.profile.weight }} kg</p>
      <p><strong>Bio:</strong> {{ request.user.profile.bio }}</p>
    
      <hr>

      <a href="{% url 'profile-edit' user.pk %}" class="btn">Edit</a>
      <a href="{% url 'profile-delete' user.pk %}" class="btn btn-secondary">Delete</a>
    </div>
{% endblock %}