{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content form-wrapper form-small">
        <h1>{% if user.is_authenticated %}Update{% else %}Create{% endif %} account</h1>

        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-list">
                            {% for error in field.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn">Save</button>

            {% if user.is_authenticated %}
                <p>Don't want to update your account? 
                    <a href="{% url 'profile-details' user.pk %}" class="btn-link">Go back to your profile</a>
                </p>
            {% endif %}

        </form>
    </div>

{% endblock %}
