{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content form-delete">
        <h1>Delete Account</h1>
        <h3>Are you sure you want to delete your FiTrack account? :(</h3>
        <p>This action cannot be undone. All your data will be lost permanently.</p>
        <form method="post" class="btn-delete">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Confirm</button>
        </form>
        <a href="{% url 'profile-details' user.pk %}" class="btn">Cancel</a>
    </div>
{% endblock %}