{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content form-wrapper form-small">
        <h1>{% if user.is_authenticated %}Update{% else %}Create{% endif %} account</h1>

        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn">Save</button>

            {% if user.is_authenticated %}
                <p>Don't want to update your account? 
                    <a href="{% url 'profile-details' user.pk %}" class="btn-link">Go back to your profile</a>
                </p>
            {% endif %}

        </form>
    </div>

{% endblock %}