<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiTrack</title>
    <link rel="stylesheet" href="/resources/styles/main.css" />
</head>
<body>
    <div class="image-box__overlay"></div>
    <header class="header">
        <div class="header-content">
            <div class="logo-wrapper">
                <a href="/" title="FiTrack Logo" class="logo">
                    <img src="/resources/images/logo.png" alt="FiTrack Logo"></a>
            </div>

            <div class="nav-wrapper">
                <ul class="nav">
                    <li class="home"><a href="/" title="Home" class="selected current">Home</a></li>
                    <li class="statistics"><a href="/" title="Home" class="selected current">Statistics </a></li>
                    <li class="profile"><a href="/" title="Home" class="selected current">My Profile </a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="main-content">
            <h1>FiTrack - don't slack, keep a track!</h1>
            <img src="/resources/images/training.jpg" alt="training" class="training"/>
            <p>Path your daily workouts by registering in our app
            <button class="btn">Start Today</button> </p>
                      
        </div>
    </main>
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>