<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div>
        <div>
            <h1>Register FiTrack Account</h1>
            <form method="post">
                {% csrf_token %}
                
                {{ form.email }}
                {{ form.email.errors }}
                
                {{ form.password1 }}
                {{ form.password1.errors }}
                
                {{ form.password2 }}
                {{ form.password2.errors }}
                
                <button type="submit">Register</button>
            </form>
        </div>
         <div>
            <p>Have an account? <a href="">Log in</a></p>
        </div>
    </div>   
</body>
</html>