{% extends 'common/index.html' %}

{% block content %}
    <div class="main-content form-wrapper form-small">
        <h1>{% if object %}Edit{% else %}Create{% endif %} Workout</h1>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btns-wrapper">
                <button type="submit" class="btn" >Save</button>
                {% if workout %}
                    <a href="{% url 'workout-detail' user_id=workout.account.id pk=workout.pk %}" class="btn btn-secondary">Cancel</a>
                {% else %}
                    <a href="{% url 'workout-list' %}" class="btn btn-secondary">Cancel</a>
                {% endif %}
            </div>            
        </form>
    </div>
{% endblock %}